<!DOCTYPE html>

<html>
    
<head>

    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">  
</head>
<body>
    {{>header}}
        <div class="main-content">       
         
        <img class="portrait" src="img/robot_11.jpg"</img>
        </div> 
        {{>footer}}
</body>



</html>