<!DOCTYPE html>

<html>
    
<head>

    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">  
</head>
<body>

    {{>header}}

        <div class="main-content">  
        <img id="aboutimg" class="portrait" src="img/DSC_0009.jpg"></img>
        <p>This site was created by Alon Kishoni.<br> It uses data from mapbox.com, darksky.net and instagram.com</p>
        </div> 
        {{>footer}}
</body>



</html>