<!DOCTYPE html>

<html>
    
<head>

    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">  
</head>
<body>

    {{>header}}

        <div class="main-content">  
        <img class="portrait" src="img/robot_11.jpg"></img>
        <p>This site was created by Alon Kishoni.<br> It uses data from mapbox.com and darksky.net</p>
        </div> 
        {{>footer}}
</body>



</html>