<!DOCTYPE html>

<html>
    
<head>
    <title>Exchange Rates</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    {{>header}}
    <div class="main-content">
        

        

            <form>
       <fieldset>
          <legend>Get Your Current Exchange Rates Here</legend>
          <p>
             <label></label>
             <select id = "base">
               <option value = "USD">USD</option>
               <option value = "GBP">GBP</option>
               <option value = "NIS">NIS</option>
               <option value = "EUR">EUR</option>
             </select>
          

           
             <label></label>
             <select id = "compare">
               <option value = "USD">USD</option>
               <option value = "GBP">GBP</option>
               <option value = "NIS">NIS</option>
               <option value = "EUR">EUR</option>
             </select>
             <button input type="submit">Search</button>
          </p>
          <p id =result></p>
           
         </fieldset>
         
    </form>
  </div>
</div>

     


    </div>
  
  {{>footer}} 

  <script src="/js/app2.js"></script>
</body>

</html>