<!DOCTYPE html>

<html>
    
<head>

    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">  
</head>
<body>

    {{>header}}

        <div class="main-content">  
        <p>You Can check Weather and exchange rates</p>
        
        </div> 
        {{>footer}}
</body>



</html>